@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
   padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
    outline: none;
}

@font-face {
    font-family: 'south afirkas 2100';
    src: url('/fonts/south\ afirkas\ 2100.ttf') format('woff2'),
         url('/fonts/south\ afirkas\ 2100.ttf') format('woff'),
         url('/fonts/south\ afirkas\ 2100.ttf') format('truetype'); /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
}

body,html {
    font-family: 'south afirkas 2100';
    /* font-family: "Poppins", sans-serif; */
    overflow-x: hidden;
    overflow-y: auto;
}

.transform {
    will-change: transform;
}

.nav-hero-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-bottom: 30px;
}
.shared-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
    .nav-hero-container {
        height: 70%;

    }
    
}

.nav-content {
    position: relative;
    z-index: 20;
}

#specialKeke {
     font-family: 'south afirkas 2100';
}
#heroP {
   font-family: "Poppins", sans-serif !important;
   font-size: 1.35rem;
   line-height: 100%;
   font-weight: 400;
}

.poppins {
    font-family: "Poppins", sans-serif !important;
}

/* #hero-image-container {
    position: static;
} */

@media (min-width: 768px) {
    #hero-image-container {
        position: absolute;
        width: 663.84px;
        height: 400px;
        top: 300px;
        left: 750px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    /* Adjust hero section to allow absolute positioning */
    section.nav-hero-bg {
        position: relative;
    }
}


.why {
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
   .why {
    margin-left: 3rem;
    margin-bottom: 1rem;
   } 
}

